{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "pk" : { "S" : "hitcount" }
    },
    "update" : {
        "expression" : "ADD #count :plusOne",
        "expressionNames" : {
            "#count" : "count"
        },
        "expressionValues" : {
            ":plusOne" : { "N" : 1 }
        }
    }
}